body{
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
}

header>ul{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

header>ul>li{
    list-style: none;
    font-size: .9rem;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
}


.google_logo{
    margin-left: 25px;
}

main>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}


#search_input{
    width: 568px;
    height: 28px;
    font-weight: 300;
    border: 1px solid rgba(177, 177, 177, 0.514);
    border-radius: 20px;
    padding: 10px 20px 10px 40px;
    outline: none;
}


.magnifier{
    width: 1.2rem;
    opacity: 40%;
    position: relative;
    left: -290px;
    bottom: 53px;
}

#search_button{
    width: 124px;
    height: 39px;
    background-color: #dfe1e552;
    border: none ;
    border-radius: 4px;
}

#search_button:hover, #search_input:hover{
    cursor: pointer;
    box-shadow:  1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}


.search_buttons{
    display: flex;
    gap: 2rem;
}

.other_language{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    font-size: .8rem;
}

.other_language a{
    color: blue;
}


@media (max-width: 420px) {

    .google_logo{
        width: 200px;
    }

    .images_text{
        font-size: .8rem;
    }

    .images_text {
        left: -49px;
    }

    #search_input{
        width: 280px;
        height: 1rem;
        font-weight: 300;
        border: 1px solid rgba(177, 177, 177, 0.514);
        border-radius: 30px;
        padding: 10px 20px 10px 40px;
        outline: none;
    }

    .magnifier{
        left: -150px;
        bottom: 47px;
    }
}